.collapse-about{
  width: 100%;
  justify-items: center;
  
}

.collapse-about-header {
  width: 80%;
  height: 45px;
  background-color: #FF6060;
  color: white;
  border: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  cursor: pointer;

  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}


.collapse-about-title {
  text-align: left;
  font-size: 18px;
}


.collapse-about-arrow {
  font-size: 24px;
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
  margin-right: 2%;
}

.collapse-about-arrow.open {
  transform: rotate(90deg);
}


.collapse-about-content {
  color: black;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  font-size: 15px;
}

.collapse-about-content.open {
  max-height: 300px;
}

.banner-about {
  position: relative;
  width: 100%;
  height: 223px; 
  background-image: url('../assets/banner-about.png');
  border-radius: 25px;
  margin-bottom: 40px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(60%);
}

.banner-content {
flex-direction: column;
gap:10px;
}

/*  RESPONSIVE MOBILE */


@media (max-width: 768px) {

  main {
    padding: 0 20px;
  }
.banner-about {
  position: relative; 
  width: 100%;
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 40px;
}
    .banner-img {
    height: 120px;       
    object-fit: cover;
    border-radius: 10px;
    }

     .collapse-about {
    width: 100%;
  }

  .collapse-about-header {
    width: 100%;
    height: 30px;
    padding: 0 5px;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 18px;
    
  }

  .collapse-about-title {
    font-size: 13px;
  }

  .collapse-about-arrow {
    font-size: 18px;
    margin-right: 3%;
  }

  .collapse-about-content {
    font-size: 12px;
    padding: 0 5px;
  }

  .collapse-about-content.open {
    padding: 15px;
    max-height: 200px;
  }
}
    