.collapse {
  width: 100%;
}


.collapse-header {
  width: 100%;
  height: 52px;
  background-color: #FF6060;
  color: white;
  border: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  cursor: pointer;

  border-radius: px;
  font-size: 18px;
}


.collapse-title {
  text-align: left;
}


.collapse-arrow {
  font-size: 24px;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.collapse-arrow.open {
  transform: rotate(-90deg);
}


.collapse-content {
  color: black;
  padding: 0 20px;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  transition: max-height 0.3s ease, padding 0.3s ease;
   
  
}

.collapse-content.open {
visibility: visible;
  max-height: 500px;
   font-size: 14px;
  
}

