.logement {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  font-family:"Montserrat", sans-serif;
}

.logement-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ff6060;
}
 .logement-header h1 {
  font-size: 36px;
  line-height: 40px;
  max-width: 80%;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  margin-top: 3%;
}
.location {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-top: 2%
}

.tags {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.tag {
  background-color: #FF6060;
  color: white;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  border-radius: 10px;
  margin-bottom: 10px;
}


.logement-host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-top: 3%;
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-id {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  text-align: right;
  
}

.host span {
  font-weight: 500;
  font-size: 18px;
  color: #FF6060;
  text-align: right;
   max-width: 85px;       
  word-wrap: break-word;
  white-space: normal;   
  line-height: 1.2;
}

.host img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #aaa;

}

.rating {
  font-size: 1.5rem;
  color: #ccc;
  font-family: 'Courier New', Courier, monospace;
  
}

.rating .active {
  color: #ff6060;
}

/* COLLAPSES*/

.logement-collapses {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 76px;
  width: 100%;
  margin-top: 30px;
}


.collapse {
  width: 50%;
}

.collapse-header {
  width: 100%;
  height: 52px;
  background-color: #FF6060;
  color: white;
  border: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  cursor: pointer;

  border-radius: 10px;
  font-weight: 700;
  font-size: 1.125rem;
}


.collapse-content {
  background-color: #F6F6F6;
  padding: 15px 20px;
  border-radius: 0 0 10px 10px;
  font-size: 18px;
  margin-bottom: 2%;
}


/* RESPONSIVE MOBILE */


@media screen and (max-width: 768px) {

  .logement {
    padding: 0 5px;
  }

  /* HEADER LOGEMENT */
  .logement-header {
    flex-direction: column;
    gap: 20px;
  }


 .logement-header h1 {
    max-width: 80%;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }


  .location {
    font-size: 14px;
  }

  /* TAGS */
  .tags {
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
  }

  .tag {
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 5px;
  }

  /* HOST + RATING */
 .logement-host {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

   .host {
    display: flex;
    align-items: center;
    gap: 8px;
    order: 2;
  }

.host span {
  font-weight: 500;
  font-size: 12px;
  max-width: 45px; 
}
  .host img {
    width: 32px;
    height: 32px;
  }

  .rating {
    display: flex;
    order: 1;
  }

  /* COLLAPSES */
  .logement-collapses {
    flex-direction: column;
    gap: 4px;
    margin-bottom: 0; 
    padding-bottom: 0;
  
  }

  .collapse {
    width: 100%;
  }

  .collapse-header {
    height: 28px;
    font-size: 13px;
    border-radius: 5px;
    padding: 0 13px;
  }

  .collapse-content {
    font-size: 12px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    letter-spacing: 0;

  }
  .collapse-arrow {
  font-size: 16px;
}
}
